<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<groups>
			<run>
				<include name="Smoke"></include>
				<include name="Regression"></include>
			</run>
		</groups>
		<classes>

			<class name="com.evisa.qa.testcases.LoginPageTest" />
			<class name="com.evisa.qa.testcases.Sponsored_VisaTest" />

		</classes>
	</test>

</suite> 